@model RegionCreate

<form asp-controller="Region"asp-action="Create" method="post">
    Name: <input asp-for="Name"/><br>
    Type:<input asp-for="Type"><br>
    <button type="submit"></button>
</form>