@model PostCreate
@{
    var RegionId =  this.ViewContext.RouteData.Values["id"];
}


<!-- Modal -->
<button type="button" class="new btn btn-secondary rounded-circle" data-bs-toggle="modal" data-bs-target="#exampleModal">
  +
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create new</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    
<form  enctype="multipart/form-data"  asp-controller="Post" asp-action="Create" method="post">
      <div class="modal-body">
       
     <input class="form-control form-control-lg" type="text" placeholder="Title" aria-label=".form-control-lg example" asp-for="Title" /><br>
     <input class="form-control form-control-lg" type="text" placeholder="Body" aria-label=".form-control-lg example"  asp-for="Content">
     <label>Picture:</label>
     <input class="form-control form-control-lg" asp-for="Image" type="file" >
    <span asp-validation-for="Image"></span>
    <input type="hidden" asp-for="RegionId" value = "@Model.RegionId">
    <input type="hidden" asp-for="TrailId" id="@Model.TrailId">
    
    
      </div>
     <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
      </form>
   