@model UserRegister

<form asp-controller="User"asp-action="Register" method="post">
    Username: <input asp-for="UserName"/><br>
    Email:<input asp-for="Email"><br>

    Password:<input type="Password" asp-for="Password"><br>
    <button type="submit"></button>
</form>