@model List<TrailListItem>
@{
    ViewData["Title"] = "Trails";
}

<div class="text-center">
    
    @foreach (var trail in Model)
    {
        <div class="row">
        <div class="col"><p>@trail.Status</p><a asp-controller="Trail" asp-action="Posts" asp-route-id="@trail.Id">@trail.Name</a>
        <a asp-controller="Trail" asp-action="Update" asp-route-id="@trail.Id">Update Status</a>
        </div>
        
        </div>
        
    }

</div>
