@model List<TrailListItem>
@{
    ViewData["Title"] = "Trails";
}

<div class="text-center">
    
    @foreach (var trail in Model)
    {
        <a asp-controller="Post" asp-action="Post" asp-route-itemid="@trail.Id">@trail.Name</a>
    }

</div>
